.detail{
  background: #f1ede7;
  height: 85vh;
  overflow: auto;
  width: calc(100% - 40px);
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width:64em){
  .detail{
    height: 80vh;
  }
}